/target
/local
/out
/main/target/

# Eclipse, Netbeans and IntelliJ files
.idea/
*/.idea
!.gitignore
!.gitattributes
/nbproject
/*.ipr
/*.iws
/*.iml

# Repository wide ignore mac DS_Store files
.DS_Store
*.orig

# java compiled
*.class

# Court Scheduler output
output.xlsx

# Lock files from OpenOffice
.~lock*

.idea/libraries/Maven__org_drools_drools_compiler_6_1_0_SNAPSHOT.xml
.idea/libraries/Maven__org_drools_drools_core_6_1_0_SNAPSHOT.xml
.idea/libraries/Maven__org_kie_kie_api_6_1_0_SNAPSHOT.xml
.idea/libraries/Maven__org_kie_kie_internal_6_1_0_SNAPSHOT.xml

# Package Files #
*.war
*.ear
